@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.editor-core-textarea {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  padding-left: 20px;
}

.editor-core {
    counter-reset: line;
    padding-left: 20px;
}

.editor-line-number::before {
    counter-increment: line;
    content: counter(line);
    position: relative;
    margin-right: 10px;
    opacity: .3;
    user-select: none;
}